/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

a {
  color: #008DF2;
  text-decoration: none;
}

a:hover {
  color: #005695;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Mr Dafoe', cursive;
  color: #343434;
  margin-bottom: 20px;
  word-spacing: 7px;
}

p, ul {
  margin-bottom: 25px;
}

li, ul, p {
  font-size: 16px
}

#tldr {
  margin-top: 10px;
  margin-bottom: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px dotted #DDD;
  border-bottom: 1px dotted #DDD;
}

#tldr p {
  margin-bottom: 5px;
}

#preamble p:first-child:first-letter { 
  float: left; 
  color: #343434; 
  font-size: 75px; 
  line-height: 60px; 
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: Georgia;
}

h2 {
  border-bottom: 1px dotted #DDD;
  margin-bottom: 20px;
}

#supporters + ul {
  overflow: hidden;
}

#supporters + ul a {
  display: block;
}

#supporters + ul li {
  color: #999;
  display: inline-block;
  min-height: 40px;
  vertical-align: top;
  width: 30%;
  margin-bottom: 10px;
}

@media (max-width: 500px) {
  #supporters + ul li {
    width: 100%;
  }

}
