<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>The Declaration of Twitter Independence</title>
  <link rel="stylesheet" href="stylesheets/foundation.min.css">
  <link href='http://fonts.googleapis.com/css?family=Mr+Dafoe' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="stylesheets/app.css">
  <script src="javascripts/modernizr.foundation.js"></script>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>
  <div class="row">
    <div class="ten offset-by-one columns">
      <h1><a href="http://twitterindependence.com/" title="The Declaration of Twitter Independence">The Declaration of Twitter Independence</a></h1>
    </div>
  </div>
  <div class="row">
    <div id="tldr" class="ten offset-by-one columns">
      <p><em><strong>TLDR;</strong> This is a declaration of independence by the Twitter Developer Community. Too many good apps have fallen victim to the tyrany and oppression of <a href="https://dev.twitter.com/blog/changes-coming-to-twitter-api" title="Twitter API Policy">the new Twitter policy changes</a> and it's time to take a stance against it.  The signers of this document vow to avoid supporting Twitter as a developer platform until they adopt a more developer friendly policy.  This includes directly boycotting any events that Twitter sponsors and not developing apps that consume their API.  Show your support by <a href="https://github.com/theycallmeswift/declaration-of-twitter-independence">forking and signing on Github</a>.</em></p>
    </div>
  </div>
  <div class="row">
    <div id="preamble" class="ten offset-by-one columns">
      {{ content }}
    </div>
  </div>
  <a href="https://github.com/theycallmeswift/declaration-of-twitter-independence"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/foundation.min.js"></script>
  <script src="javascripts/app.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34985577-1']);
    _gaq.push(['_setDomainName', 'twitterindependence.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
