<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>The Hacker Declaration of Independence</title>
  <link rel="stylesheet" href="stylesheets/foundation.min.css">
  <link href='http://fonts.googleapis.com/css?family=Mr+Dafoe' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="stylesheets/app.css">
  <script src="javascripts/modernizr.foundation.js"></script>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>
  <div class="row">
    <div class="twelve columns">
      <h1><a href="http://varindependence.com/" title="The Declaration of Hacker Independence">The Declaration of Hacker Independence</a></h1>
    </div>
  </div>
  <div class="row">
    <div id="tldr" class="twelve columns">
      <p><em><strong>TLDR;</strong> This is a declaration of independence by the Twitter Developer Community. Too many good apps have fallen victim to the tyrany and oppression of the new Twitter policy changes and it's time to take a stance against it.  The signers of this document vow to avoid supporting Twitter as a developer platform until they adopt a more developer friendly policy.  This includes directly boycotting any events that Twitter sponsors and not developing apps that consume their API.</em></p>
    </div>
    <div id="preamble" class="twelve columns">
      {{ content }}
    </div>
  </div>
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/foundation.min.js"></script>
  <script src="javascripts/app.js"></script>
</body>
</html>
